<form action="" method="post">
    <div class="row mb-3 justify-content-center">
        <div class="col-auto">
            <label for="amountTasks" class="form-label" id="labelForSlider"> Aufgaben</label>
            <input type="range" min="1" max={{ all_cases_to_choose| length }} step="1" name="amount" id="amountTasks"
                class="form-range" oninput="showValueOfSlider(this.value)">
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-auto">
            <select class="form-select" aria-label="Schwierigkeit auswählen" name="difficulty" id="selectDif">
                <option selected value="0">Zufällig</option>
                <option value="1">Leicht</option>
                <option value="2">Mittel</option>
                <option value="3">Schwer</option>
            </select>
            <label for="selectDif" class="form-label">Schwierigkeit</label>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#neededSelect"
                aria-expanded="false" aria-controls="neededSelect">
                Muss enthalten sein
            </button>
        </div>
    </div>
    <div class="row mb-3 justify-content-start">
        <div class="collapse" id="neededSelect">
            <div class="col-auto">
                <div class="row row-cols-auto">
                    {% for key in all_cases_to_choose.keys() %}
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="needed" type="checkbox" value={{ key }} id={{ key }}>
                            <label class="form-check-label" for={{ key }}>
                                {{ key }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-auto">
            <button type="submit" value="generate" id="generateBtn" class="btn btn-primary float-right">Zufällige
                Schwierigkeit</button>
        </div>
    </div>
</form>