<!DOCTYPE html>
<html lang="de" class="h-100">

<head>
    {% include 'head.html' %}
    <title>Steuerrecht</title>
</head>

<body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">
                    Steuerrecht Aufgaben
                </h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 active" href="">
                        Test Elem
                    </a>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>Generierung einer Aufgabe</h1>
            <p class="lead">
                Hier werden Aufgaben zum Steuerrecht generiert!
            </p>
            <p class="lead">
                <button type="submit" value="generate" class="btn btn-primary">Generieren</button>
            </p>
            {% include 'task_space.html' %}
        </main>
        <footer class="mt-auto text-white-50">
            Test
        </footer>
    </div>
</body>

</html>