<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<div class="container-fluid" id="multiRowForm">
    <!-- Gesamte Column -->
    <div class="col-xs-12">
        <!-- Reihe für einen Lösungsansatz -->
        <form action="" method="">
            <div class="row form-row" v-for="row in rows">
                <!-- Innere Column im Lösungsansatz -->
                <div class="col col-xs-12">
                    <div class="row mb-3">
                        <div class="col">
                            <select :name="row.id + '_case_name'" id="" class="form-control" v-model="row.select">
                                <option selected disabled>Sachverhalt auswählen</option>
                                <option :value="opt.name" v-for="opt in options">{% raw %} {{ opt.name }} {% endraw %}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Gesetzesgrundlage"
                                v-model="row.law" :name="row.id + '_law'">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Summe"
                                v-model="row.num" :name="row.id + '_sum'">
                        </div>
                        <div class="col">
                            <button class="btn btn-danger" @click="deleteRow(row)">Löschen</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row m-3">
                <div class="col">
                    <button type="button" name="submitSolution" class="btn btn-primary" @click="solve">Aufgabe
                        lösen</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-success" @click="addRow">Reihe hinzufügen</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    const sachverhaltOptions = JSON.parse('{{cases_and_sums | tojson}}');
    const allSolutions = JSON.parse('{{solutions | tojson}}');
    console.log(sachverhaltOptions);
    console.log(allSolutions);

    const { createApp } = Vue
    createApp({
        el: '#multiRowForm',
        data() {
            return {
                options: sachverhaltOptions,
                rows: [
                    {
                        'id': 0, 'select': "Sachverhalt auswählen", "law": '',
                        "num": '', "isCorrect": { "case_name": false, "law": false, "num": false }
                    }
                ]
            };
        },
        methods: {
            log() {
                console.log(this.rows)
            },
            addRow: function () {
                try {
                    newId = this.rows[this.rows.length - 1]["id"] + 1
                } catch {
                    newId = 0
                }
                this.rows.push({
                    'id': newId, 'select': "Sachverhalt auswählen", "law": '',
                    "num": '', "isCorrect": { "case_name": false, "law": false, "num": false }
                });
            },
            deleteRow: function (row) {
                const filteredRow = this.rows.filter(element => element !== row);
                this.rows = filteredRow;
            },
            checkCorrectInputs: function (row) {
                if (row.select in allSolutions) {
                    row.isCorrect.case_name = true;
                    const correctSolution = allSolutions[row.select];
                    row.law === correctSolution.law ? row.isCorrect.law = true : row.isCorrect.law = false;
                    row.num === correctSolution.number ? row.isCorrect.num = true : row.isCorrect.num = false;
                }
            },
            solve: function () {
                for (const row of this.rows) {
                    this.checkCorrectInputs(row)
                }
            }
        }
    }).mount('#multiRowForm')
</script>